{% extends 'WebApp/home.html' %}

{% block form %}
    <!--
    <hr class="fpLine" id="fpLineLeft"><hr class="fpLine" id="fpLineRight">
    -->

    <div class="forgotPasswordPage">
        <p>ForgotPassword</p>
        <p class="forgotPasswordInfo">
            Please get in contact with Smart Financial Directors and request your password
            to be reset and sent to you again.
        </p>
    </div>


    <form action="{{request.META.HTTP_REFERER|escape}}">
        <button type="submit" class="loginButton2">
          Back
        </button>
    </form>
{% endblock %}



{% block homeLinks %}
{% endblock %}