<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets 3</title>
    <link rel="stylesheet" href="{% static 'appStyle.css' %}">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
</head>
<body>
    <img class="small_Icon" src="{% static 'SmartFD_Images_Icons\Smart FD logo.png' %}">

    <p class="ticket3Message">The ticket has been sent successfully. We will respond via email shortly</p>

    <form action="{% url 'home page 3' %}">
        <button type="submit" class="loginButton2" >
            Next
        </button>
    </form>
</body>
</html>